 <div class="container">
            <div class ="col-sm-6 col-sm-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Add Research</h3>
                </div>
                <div class="panel-body">
                    <%= form_for @research, :url => {controller: 'researches', action: 'update'} do |f| %>
                         <%= react_component 'EditResearch', {research: @research}%>
                   <%end%>
     
                </div>
            </div>
        </div> 
  </div>

<%= react_component '' %>



<!--
%h1 Edit a Research

= form_for(:research, :url => {controller: 'researches', action: 'create'}) do |f|
  = f.label :title, 'Research Title'
  = f.text_field :title
   
  = f.label :status, 'Status'
  = f.select :status, ['On-Going','Completed']
 
  = f.label :date_started, 'Date Started'
  = f.date_select :date_started

  = f.label :commodity, 'Commodity'
  = f.text_field :commodity

  = f.label :zone, 'Zone'
  = f.text_field :zone  

  = f.label :discipline , 'Discipline'
  = f.text_field :discipline   

  = f.label :sector , 'Sector'
  = f.text_field :sector

  = f.label :fund_source , 'Fund source'
  = f.text_field :fund_source
  
  = f.submit :Create -->