<div style="margin:240px; margin-left:450px;">
  <h2 style="margin-left:-100px">Researches from <span style="color:green;">Department of Agriculture Region VIII </span> </h2>
  <p> Looking for researches conducted by the Department of Agriculture?</p>
  <input style="width:400px; height: 40px;"type="text" >
  <button style="width:40px;height: 40px;margin-left: -5px; background-color: green;"><i style="color:white;" class="glyphicon glyphicon-search"></i></button>
</div>