html, body {
  margin: 0;
  padding: 0;
  background: White;
  color: DarkSlateGrey;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 10pt;
}
div#main {
  margin: 0;
  padding: 0 20px 20px;
}
a {
  background: transparent;
  color: #0f3d0f;
  font-weight: bold;
}
body { 
    padding-top: 65px; 
}

h1 {
  color: #145214;
  font-size: 150%;
  font-style: italic;
  display: block;
  width: 165px;
  border-bottom: 1px solid DarkSlateGrey;
}
h1.title {
  margin: 0 0 1em;
  padding: 10px;
  background-color: green;
  color: white;
  border-bottom: 4px solid gold;
  font-size: 2em;
  font-style: normal;
}
table#movies {
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid black;
}
table#movies th {
  border: 2px solid white;
  font-weight: bold;
  background-color: #bfff00;
}
table#movies th, table#movies td {
  padding: 4px;
  text-align: left;
}
#notice #warning {
  background: rosybrown;
  margin: 1em 0;
  padding: 4px;
}
table#movies th.hilite {
  background-color: yellow;
}
form label {
  display: block;
  line-height: 25px;
  font-weight: bold;
  color: #145214;
}

.logo {
  font-family: 'Exo';font-size: 30px;
  font-weight:900;
  color: blue;
}

#exo{
  font-family: 'Exo';font-size: 30px;
  font-weight:900;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: green;
}
.pages{
    font-family: 'Overpass';font-size: 20px;
}
.navbar-default .navbar-brand{
    color: green;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
   color: green ;
}
.navbar-default {
    background-color: #f2ffcc;
    border-color: #E7E7E7;
}

.form-control:focus { 
    outline: none !important;
    border-color: green;
    border: 3px;
    box-shadow: 0 0 20px green;
}

.input-group{
  width: 50%;
  height: 50%;
}

.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
