<ul class="nav navbar-nav navbar-right">
  <% if user_signed_in? %>
    <li><%= link_to 'Edit account', edit_user_registration_path, class: 'pages' %></li>
    <li><%= link_to 'Log out', destroy_user_session_path, :method=>'delete', class: 'pages' %></li>
  <% else %>
    <li> <button type="button" style="margin-top: 10px" class="btn btn-primary" data-toggle="modal" data-target="#login" aria-label="Left Align" >Login</button></li>
  <% end %>
</ul>

