<%# add navigation links to this file %>
<li><%= link_to 'Researches', root_url , class: 'pages'%></li>
<li><%= link_to 'My Researches', root_url, class: 'pages' %></li>
<% if user_signed_in? %>
  <%if current_user.admin?  %>
    <li><%= link_to 'Add Research', new_research_path, class: 'pages' %><li>
    <li><%= link_to 'Users', users_path, class: 'pages' %></li>
  <% end %>
<% end %>
